*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-size: 15px;
}
.flex{
    display: flex;

    &__jc-center{
        justify-content: center;
    }

    &__ai-center{
        align-items: center;
    }

    &__dir-col{
        flex-direction: column;
    }

    &__dir-row{
        flex-direction: row;
    }
}