// Media Sizing 
$sizeDesktop: 80rem;

// color
$color-LG: linear-gradient(45deg, hsl(236, 72%, 79%) 15%, hsl(237, 63%, 64%) 100%);;
$color-bule: hsl(237, 63%, 64%);
$colorVeryLight-GB: hsl(240, 78%, 98%);
$colorLight-GB: hsl(234, 14%, 74%);
$color-GB: hsl(233, 13%, 49%);
$colorDark-GB: hsl(232, 13%, 33%);